@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url("../../Content/DataTables/images/5b37360c-19bf-403e-8807-dee6cd999dc2.png");
        background-color: darkseagreen;
    }
</style>

<div class="jumbotron">
    <h1>PlantiLoc</h1>
    <p class="lead">The place for landscaping where you can order a plant, have it planted in a specific geo location and additionally, carry out orders.</p>
</div>

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Funzionamento", "funzionamento", "Home", null, new { @class = "btn btn-primary" })
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Schema Concettuale", "SchemaConcettuale", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>
