
@{
    ViewBag.Title = "SchemaConcettuale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schema Concettuale</h2>


<img src="~/Content/DataTables/images/Immagine 2022-07-25 151027.jpg" />
  
